/* General */
body {
  color: black;
  margin: -5%;
  border: 500px;
  padding: 30px;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background: url(../img/Maderas.png);
  width: auto;
  height: auto;
  line-height: 100%;
  background-attachment: fixed;
  background-repeat: repeat;
  border-left: 200px;

}


#logo{
  width:auto;
  margin-top: 10px;
  height: auto;
  float: inherit;
  border-top: 0%;
  border-bottom: -90%;

}

#base-de-datos{
font-weight: lighter;
text-align: center;
header
}


/* Input Forms*/
input[type="text"], input[type="password"]{
  display: block;
  width: 350px;
  height: 40px;
  border-radius: 0px;
  border: 2px solid #eee;
  margin: 20px auto;
  
}

input[type="submit"] {
  padding: 10px;
  color: #fff;
  background: black;
  width: 348px;
  margin: 20px auto;
  margin-top: 0;
  border: 0;
  border-radius: 0px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background: color black;
}

/* Header */
header {
  border-bottom: 0px solid rgb(0, 0, 0);
  height: auto;
  padding: 10px 0px;
  margin-bottom: 20px;
  margin-top: -2%;
  width: 100%;
  text-align: center;

}
header a {
  text-decoration:none;
  color: #000;
  text-align: center;
}
